body {
  background: #ececec;
  font-family: tahoma;
  padding: 16px;
  width: 50%;
  margin: 0 auto;
}

form,
form .inputs {
  display: flex;
  flex-direction: column;
}

form .inputs {
  margin-bottom: 18px;
}

label {
  font-size: 18px;
  margin-bottom: 4px;
}

input {
  font-size: 18px;
  padding: 6px;
}

button {
  padding: 16px;
}

button[type="submit"] {
  background: green;
  border: 1px solid gray;
  font-size: 16px;
  color: #fff;
}

button[type="submit"]:hover {
  background: rgb(5, 170, 5);
  cursor: pointer;
}

/* --------------------- TABLE ---------------------  */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
